@model IEnumerable<Core.User>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Стажеры</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div>
    @if (Model != null && Model.Any())
    {
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Стажеры</th>
                <th>Выбор на оценку</th>
            </tr>
            </thead>
            <tbody>
            @{
                var counter = 1;
            }
            @foreach (var user in Model)
            {
                <tr>
                    <td>@counter</td>
                    <td>
                        @if (user.Name == null)
                        {
                            <h3>@user.Login</h3>   
                        }
                        else
                        {
                            <h3>@user.Name</h3>   
                        }
                    </td>
                    <td>
                        <form asp-controller="Management" asp-action="UserSelected" method="get">
                            <input type="hidden" name="userId" value="@user.Id" />
                            <input type="hidden" name="groupId" value="@ViewBag.groupId"/>
                            <button type="submit">Оценить</button>
                        </form>
                    </td>
                </tr>
                counter++;
            }
            </tbody>
        </table>
    }
</div>
</body>
</html>